@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900 &display=swap");

html, body {
  font-family: 'Inter', sans-serif;
  background-color: rgb(199, 196, 196);
}

p.red {
  color: red;
}

img {
  margin: 3px;
  padding: 2px;
}

div {
  border: 5px ridge royalblue;
  padding: 10px;
  width: 175px;
  margin-bottom: 10px;
}

.point {
  margin: 0px;
}

.gameButton {
  margin: 0.5%;
  font-size: 1em;
  font-weight: 500;
  background-color: #387A0B;
  color: #f7f7f7;
  border: none;
  padding: 0.3em 1em;
  text-align: center;
  border-radius: 25px;
}

.gameButton:hover {
  background-color: #4ca411;
}